<div class="row">
  <!-- Blog Post Content Column -->
  <div class="col-lg-8">
    <!-- Blog Post -->
    <!-- Title -->
    <div class="jumbtron">
      <h1>Benvenuto su Lorenzo's Article</h1>
      <p>Applicazione costruita con Rails</p>
    </div>
  </div>
  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
    <div class="well">
      <h4>Articoli Recenti</h4>
      <% @lastArticles.each do |a|  %>
      Creato da: <%= a.user.username %> <br />
      <strong><%= link_to a.title, a %></strong>
      <p><%= truncate(a.body) %></p>
      <% end %>
    </div>
  </div>
</div>
<!-- /.row -->
<hr>