<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <p>C'è un nuovo messaggio. Il messaggio è stato inviato da <%= "#{ @name }, #{ @email }" %></p>
    
    <p>
      <%= "#{ @message }" %>
    </p>
  </body>
</html>